@font-face {
  font-family: 'GIUN_TAHOMA';
  src: url('https://github.com/asinerum/project/raw/master/static/fonts/TAHOMA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GIUN_TAHOMA';
  src: url('https://github.com/asinerum/project/raw/master/static/fonts/tahomabd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GIUN_ARIAL';
  src: url('https://github.com/asinerum/project/raw/master/static/fonts/arial.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GARAMOND';
  src: url('https://github.com/asinerum/project/raw/master/static/fonts/GARA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GARAMOND';
  src: url('https://github.com/asinerum/project/raw/master/static/fonts/GARABD.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GARAMOND';
  src: url('https://github.com/asinerum/project/raw/master/static/fonts/GARAIT.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
